@import "../styles/colors";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 200px;
  border-radius: 10px;
  background-color: $light-grey;
  padding: 20px 10px;
}

.title {
  font-size: 36px;
  text-align: center;
}

.button {
  padding: 10px 15px;
  border: 0;
  background: $black;
  color: white;
  border-radius: 20px;
  transition-duration: 0.1s;
  margin: 10px;
  font-weight: 700;
  font-size: 18px;
}

.button:hover {
  background-color: $dark-grey;
}
