@import "../styles/colors";

.content {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  background-color: $darkest-grey;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  color: white;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: $medium-grey;
  margin-left: 10px;
  transition-duration: 0.1s;
  font-size: 14px;
}

.link:hover {
  color: white;
}
