@import "./colors";
@import "./reset";

html {
  font-family: "Roboto", '"Helvetica Neue"', "Arial", "sans-serif";
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
}

body {
  height: 100%;
}

:global #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  height: 100%;
}

p {
  line-height: 1.4;
}
